@page
@model AboutModel
@{
    ViewData["Title"] = "About page";
}

<div class="text-center">
    <h1 class="display-4">På denne hjemmeside kan du booke en vaskemaskine eller tørretombler
        i vaskerummet
    </h1>
</div>
