@page
@model VaskEnTidUI.Pages.Error_ReportingModel
@{
    ViewData["Title"] = "Error Reporting";
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h2 class="text-center mb-4">Raporter en fejl</h2>
            </div>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

}
